{% extends 'base.html' %}

{% block content %}

<h2>Itinéraires</h2>
  <p>Voici la liste des itinéraires disponibles:</p>            
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Durée</th>
        <th>Difficulté</th>
      </tr>
    </thead>
    <tbody>
        <tbody>
            {% for itinerary in itineraries %}
                <tr>
                    <td><a href="{% url 'itineraires:sorties' itinerary.id %}">{{ itinerary.name }}</a></td>
                    <td>{{ itinerary.duration }} h</td>
                    <td>{{ itinerary.difficulty }} / 5</td>
                </tr>
            {% endfor %}
        </tbody>
  </table>

{% endblock content %}