{% block content %}

<a>Ajouter une sortie</a>

{% if sorties %}

    <table>
        <tr>
            <th>Par</th>
            <th>Date</th>
        </tr>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.utilisateur }}</td>
                <td>{{ sortie.trip_date }}</td>
                <td><a>Consulter</a></td>
                <td><a>Modifier</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Il n'y a aucune sortie.</p>
{% endif %}

{% endblock content %}